<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="da9a533f-2175-4f5d-a253-bcfc2b2e4992" Publisher="CN=Gitte" Version="1.0.0.0" />
  <Properties>
    <DisplayName>ContosoCookbook</DisplayName>
    <PublisherDisplayName>Gitte</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Contoso Cookbook Application">
      <VisualElements DisplayName="Contoso Cookbook" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="ContosoCookbook" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>